h1 {
  .subtitle {
    display: inline-block;
    font-size: 20px;
    color: #337ab7;
  }
}

input {
  transition: none !important; // bootstrap reset
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;

  .resources {
    margin-bottom: 20px;
    text-align: center;

    img {
      display: inline-block;;
      width: 75px;
      margin-right: 20px;
    }
  }

  .author {
    color: #8e8e8e;
    text-align: center;
  }
}

#featured-list,
#vocabulary-header {
  margin-bottom: 20px;
}

#vocabulary-header {
  form {
    .invalid {
      border: 2px solid #fff;
      box-shadow: 0 0 0 2px #d9534f inset;
    }
  }
}

#featured-list {
  .item {
    margin-bottom: 15px;

    .item-header {
      position: relative;
      padding-right: 15px;

      .item-learned {
        position: absolute;
        top: calc(50% - 5px);
        right: 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 20em;

        &.learned {
          background: #5cb85c;
        }

        &.not-learned {
          background: #d9534f;
        }
      }
    }

    &:nth-of-type(4n+1) {
      clear: both;
    }
  }
}

#vocabulary-list {
  min-height: 500px;
  margin-bottom: 75px;

  .vocabulary-filter {
    margin-bottom: 20px;

    > ul > li {
      overflow: hidden;
      margin-bottom: 10px;

      > strong {
        float: left;
        margin-right: 10px;
      }
    }

    > ul > li > ul > li {
      float: left;

      .btn {
        outline: 0 !important;
      }

      .btn.bg-info:hover {
        background: darken(#d9edf7, 5%)
      }

      .btn.active {
        color: #fff !important;
      }
    }
  }

  .no-results {
    .wrapper {
      display: inline-block;

      img {
        width: 250px;
      }
    }
  }

  .item {
    margin-bottom: 15px;
    padding: 5px;
  }
}

#logo {
  margin-right: 10px;
  width: 75px;
  float: left;
}

.btn {
  margin-right: 5px;
}

.vocabulary-box {
  padding: 15px;
}
