.modal {
  display: block !important;
  background: rgba(0, 0, 0, .5);

  > div {
    top: calc(50% - 222px);
    margin: 0 auto;
  }

  .modal-edit-item {
    form {
      .modal-header .item-name {
        margin-top: 10px;
        font-size: 24px;
      }

      textarea {
        max-width: 100%;
        max-height: 150px;
      }
    }
  }
}
